img:hover {
    /*画像にポインタが触られたとき*/
    opacity: 0.5;
    /*アイコンを薄くする*/
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

img:active {
    /*画像がクリックされたとき*/
    position: relative;
    /*画像の位置を元に戻す*/
    top: 3px;
    /* 画像を少し下に移動させる */
}

button {
    border-color: transparent;
    background: transparent;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-movie {
    max-width: 100%;
    max-height: 100%;
}

#goodVideo {
    display: none;
    /* 動画エフェクトを非表示状態にする */
}