header {
    background-color: orange;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

header button {
    background-color: transparent;
    /* 背景色を透明に設定 */
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: auto;
    /* ボタンを左に寄せる */
    color: inherit;
}

header h1 {
    margin: 0;
    font-size: 48px;
    flex: 1;
    text-align: center;
    /* タイトルを中央寄せに */
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

main {
    padding: 20px;
}

article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

footer {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}


h2 {
    margin-left: 100px;
}

.center {
    text-align: center;
}

#profile {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 100px;
}

.enterButton {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #f19ae1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.enterButton:hover {
    background-color: #eb64ae;
}

#questionlist {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 100px;
}

#answerlist {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 100px;
}

#worklist {
    border: 2px solid #000;
    padding: 20px;
    margin-top: 20px;
    background-color: #f0f0f0;
    margin-left: 100px;
    margin-right: 100px;
}

#changeColorButton {
    display: block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #f19ae1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 100px;
}

input:disabled {
    border: none;
    color: black;
}

#cancelEdit {
    border: none;
    padding: 8px 16px;
}

#menuContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
}

#menuContent li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

#menuContent li a:hover {
    background-color: #f1f1f1;
}

nav {
    background-color: #f4f4f4;
    width: 250px;
    height: calc(100vh - 80px);
    /* ヘッダーの高さに合わせてメニューバーの高さを調整 */
    position: fixed;
    top: 110px;
    left: 0;
    overflow-y: auto;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.right {
    text-align: right;
}

img:hover {
    /*画像にポインタが触られたとき*/
    opacity: 0.5;
    /*アイコンを薄くする*/
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

img:active {
    /*画像がクリックされたとき*/
    position: relative;
    /*画像の位置を元に戻す*/
    top: 3px;
    /* 画像を少し下に移動させる */
}