body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: orange;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

header button {
    background-color: transparent;
    /* 背景色を透明に設定 */
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: auto;
    /* ボタンを左に寄せる */
    color: inherit;
}

header h1 {
    margin: 0;
    font-size: 48px;
    flex: 1;
    text-align: center;
    /* タイトルを中央寄せに */
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

main {
    padding: 20px;
}

article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

title {
    position: relative;
    color: #ffffff;
    line-height: 1.4;
    -webkit-box-reflect: below -10px -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.6));
}

blockquote {
    position: relative;
    padding: 10px 15px 10px 50px;
    box-sizing: border-box;
    font-style: italic;
    border: solid 2px #464646;
    color: #464646;
}

blockquote:before {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 15px;
    content: "\f10d";
    font-family: FontAwesome;
    color: #77c0c9;
    font-size: 25px;
    line-height: 1;
    font-weight: 900;
}

blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

p {
    color: #333333;
}



.tag {
    padding: 6px 16px;
    background-color: #ccc;
    display: block;
    float: right;
}

#question-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    display: block;
    /* border: 1px solid #ccc; */
}

#question-container h2 {
    text-align: center;
}

.text-container {
    background-color: #fbe9aa;
    padding: 30px;
    border: 2px solid #333333;
}

/* 回答入力テキストエリアのスタイル */
#new-answer {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* 回答の枠のスタイル */
.answer {
    background-color: #fbe9aa;
    padding: 20px;
    border: 2px solid #333333;
    margin-bottom: 5px;
}

/* 回答コンテナのスタイル */
#answer-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;
    /* border: 1px solid #ccc; */
}

#answer-form {
    margin: 50px auto;
    background-color: #fbe9aa;
    padding: 20px;
    border: 2px solid #333333;
}

#answer_text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit-ans {
    color: white;
    background-color: #d1478e;
    padding: 8px 16px;
    border: none;
}

#add-ans {
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #aaaaaa;
    color: #aaaaaa;
}

.cancel-button {
    padding: 8px 16px;
    border: none;
}

textarea {
    width: 80%;
    height: 150px;
}

img:hover {
    /*画像にポインタが触られたとき*/
    opacity: 0.5;
    /*アイコンを薄くする*/
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

img:active {
    /*画像がクリックされたとき*/
    position: relative;
    /*画像の位置を元に戻す*/
    top: 3px;
    /* 画像を少し下に移動させる */
}

button {
    border-color: transparent;
    background: transparent;
}

.good-container {
    position: fixed;
    /* スクロールしても位置が固定される */
    top: 50%;
    /* 上端から画面の50%の位置に */
    left: 50%;
    /* 左端から画面の50%の位置に */
    transform: translate(-50%, -50%);
    /* 画像の中心を正確に画面の中央に合わせる */
    z-index: 10;
    /* 必要に応じてz-indexを調整 */
}

.centered-movie {
    max-width: 100%;
    max-height: 100%;
}

#goodVideo {
    display: none;
    z-index: 9999;
    /* 動画エフェクトを非表示状態にする */
}
#menuContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

#menuContent ul {
    list-style-type: none;
    padding: 0;
}

#menuContent li a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

#menuContent li a:hover {
    background-color: #f1f1f1;
}
nav {
    background-color: #f4f4f4;
    width: 250px;
    height: calc(100vh - 80px); /* ヘッダーの高さに合わせてメニューバーの高さを調整 */
    position: fixed;
    top: 110px;
    left: 0;
    overflow-y: auto;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}