body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


label {
    margin-right: 10px;
}

select {
    padding: 8px;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

header {
    background-color: orange;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

header button {
    background-color: transparent; /* 背景色を透明に設定 */
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: auto; /* ボタンを左に寄せる */
    color: inherit;
}

header h1 {
    margin: 0;
    font-size: 48px;
    flex: 1;
    text-align: center; /* タイトルを中央寄せに */
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

main {
    padding: 20px;
}

article {
    background-color: #fbe9aa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;

}

/* フォーム全体のスタイル */
form {
    width: 50%;
    margin: 20px auto;
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

/* ラベルのスタイル */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* セレクトボックスのスタイル */
select {
    width: 60%;
    padding: 10px;
    margin: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    display: inline-block;
}

/* サブミットボタンのスタイル */
input[type="submit"] {
    width: 30%;
    padding: 10px;
    margin: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}